.home {
  padding: 15px;
}
.title {
  color: #481e14;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  color: #481e14;
}
.item:active,
.item:hover {
  color: #0c134f;
  font-weight: bold;
  text-decoration: underline;
}
