.box {
  padding: 25px 10px;
}
.form {
  display: flex;
  gap: 16px;
  margin-bottom: 26px;
}
.input {
  width: 350px;
  height: 35px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 6px;
  border-style: none;
}
